.button {
	position: relative;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: unset;
	border-radius: 6px;
	background: transparent;
	background-color: #b45309;
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
	padding: 0.625em 1em;
	box-sizing: border-box;
	text-transform: capitalize;
	cursor: pointer;
	line-height: 1.362em;
}

.button:active {
	background-color: #7a3500;
}
