.searchSection {
	position: relative;
	width: 100%;
}

.searchWrapper {
	position: relative;
	max-width: 768px;
	margin: 0 auto;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	gap: 1rem;
}

.searchBox {
	position: relative;
	z-index: 123;
	border: 1px solid #d6d6d6;
	border-radius: 6px;
	background-color: white;
	font-size: 14px;
	letter-spacing: 1.1px;
	line-height: 1.2rem;
	padding: 0.6875rem 0;
	padding-left: 1rem;
	box-sizing: border-box;
	flex-grow: 1;
	box-shadow: inset 0px 0px 4px rgba(73, 73, 73, 0.15);
}

.searchBox:focus {
	outline: unset;
	border: 1px solid #00a0fb;
	box-shadow: inset 0px 0px 4px rgba(0, 160, 251, 0.15);
}
