:root {
	--text: #000;
	--bgColor1: white;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	letter-spacing: 1px;
	line-height: 1em;
	font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Helvetica Neue', sans-serif;
}

p {
	color: var(--text);
}

body {
	background: var(--bgColor1);
	margin: 0;
	background-color: #fff;
	font-family: 'Open Sans';
	position: relative;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow-x: hidden;
	gap: 2rem;
	height: 100vh;
	padding-bottom: 1rem;
	min-height: 600px;
	min-width: 375px;
}
